In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("../data/Seasonal_Variation.csv")
df.head()

  MONTH  HA  CO  AMA  AMO  PO  IS  NM  CAP  OST  GAS  BIV  DEC  CU
0   FEB   0   2    1    0   1   0   0  0.0    0    0    0    0   0
1   FEB   0   0    0    1   0   0   0  0.0    0    0    0    0   0
2   FEB   0   3    2    0   0   0   0  0.0    0    0    0    0   0
3   FEB   3   5    0    0   0   0   0  0.0    0    0    0    0   0
4   FEB  10   3    1    0   0   0   0  0.0    0    0    0    0   0